
body, ul, li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size:1.0rem;
}
a{
    text-decoration: none;
}
body{
    background:#00D2F0;
}
.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
  }

.already-visible {
  transform: translateY(0);
  animation: none;
}
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }


/* boneco perfil */
header{
    background-color: #1d1e20;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.5em 5em 1.5em 5em;
    align-items: center;
    color: #1d1e20;
    margin-bottom: 6.5em;
    position: relative;
}
header p{
    font-size: 1.4em;
}    
.avatar{
    position: absolute;
    top: 0.1em;
    z-index: 2;
}
.avatar img{
    height: 160px;
    width: 160px;
}
.olhos {
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    position: absolute;
    top: 36%;
    left: 61px;
}
.olhos i{
    color: #1d1e20;
    font-size: 0.8em;
    margin-right: 17px;
    transition: all 0.5s;
    transform: translate(0px, 0px);
}
/* final boneco perfil */



/* apresentacao */
.apresentacao{
    color: aliceblue;
    font-size: 1.2em;
    /* border: solid 1px tomato; */
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.apresentacaoTitulo{
    font-size: 2em;
}
/* final apresentacao */

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6em;
    max-width: 60%;
    height: 250px;
    margin: 0 auto;
}

/* inicio card desenvolvedor */
.cardDev{
    width: auto;
    background: #00D2F0;
    /* background-image: url("img/background.jpg");  */
    background-size: cover;
    position: relative;

    transition: all 0.5s;
    display:flex;
    flex-direction:column-reverse;
    align-items: center;
    cursor: pointer;
}
.tela{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.9s;
    background: #363636;
    width: 15.5em;
    height: 9.5em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    box-shadow: rgba(0,0,0,0.14902) 0 6px 14px 8px, rgba(0,0,0,0.09804) 0 2px 25px 1;
}
.telabranca{
    position: inherit;
    top:-15%;
    background: #F6F7F9;
    width: 15.5em;
    height: 3em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.circulos{
    color: #00D2F0;
    position: inherit;
    right: 1em;
    top:35%;
    transition: all 0.5s;
}
.circulos i{
    margin-left: 0.4em;
}
.codigos {
    margin-top: 2.5em;
    width: 100%;
    height: 100%;
}
.codigos img{
    
    height: 6em;
    width: 100%;
}

.cardDev p{
    font-size: 1.5em;
    font-weight: 700;
    color: #F6F7F9;
    /* position: absolute; */
    /* top: 80%; */
    transition: all 1s;
}
/* final card desenvolvedor */


/* incio card camera */
.cardCamera{
    width: auto;
    background: #00D2F0;
    /* background-image: url("img/background.jpg");  */
    background-size: cover;
    position: relative;
    box-shadow: rgba(0,0,0,0.14902) 0 6px 14px 8px, rgba(0,0,0,0.09804) 0 2px 25px 1;
    transition: all 0.5s;
    display:flex;
    flex-direction:column-reverse;
    align-items: center;
    cursor: pointer;
}
.corpoCamera{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.9s;
    background: #363636;
    width: 15.5em;
    height: 9.5em;
    border-radius: 1em;
    box-shadow: rgba(0,0,0,0.14902) 0 6px 14px 8px, rgba(0,0,0,0.09804) 0 2px 25px 1;
}

.botaoCamera{
    position: inherit;
    top:-15%;
    background: #F6F7F9;
    width: 4.5em;
    height: 3em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botaoCameraCirculo{
    color: #00D2F0;
    font-size:1.2em !important;
    transition: all 0.5s;
}

.linhaBrancaCamera{
    position: inherit;
    top:0%;
    background: #F6F7F9;
    width: 15.5em;
    height: 1.6em;
    border-top-right-radius: 1em;
}

.corpoCamera > i{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00D2F0;
    font-size: 4.5em;
}
.cardCamera p{
    
    font-size: 1.5em;
    font-weight: 700;
    color: #F6F7F9;
    /* position: absolute; */
    /* top: 80%; */
    transition: all 1s;
   
}
/* final card camera */



/* animacoes */
.tela:hover{
    box-shadow: rgba(0,0,0,0.14902) 0 6px 14px 8px, rgba(0,0,0,0.09804) 0 2px 25px 0;
    /* transform: scale(1.1); */
    transform-origin: center;
}

.corpoCamera:hover{
    
    box-shadow: rgba(0,0,0,0.14902) 0 6px 14px 8px, rgba(0,0,0,0.09804) 0 2px 25px 0;
    /* transform: scale(1.1); */
}

#frontEnd{
    
    margin-top: 8em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#fotografia{
    margin-top: 8em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: aliceblue;
}

/* imagens fotografia */

.headerFotografia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.headerFotografia p{
    font-size: 3em;
    padding-top: 1em;
}

.gridImagens{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 85%;
    margin: 0 auto;
    grid-gap: 1em;
    margin-bottom: 2em;
    height: auto;
}
.conteudoDeCadaGrid{
    max-width: 100%;
    display: block;
    height: auto;
}
.imagemGrid{
    max-width: 100%;
    height: 360px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    transition: all 0.7s;
}
.imagemGrid:hover{
    transform: scale(1.07);
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.5) !important
}
.legenda{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.imagemNumero{
    color: #00D2F0;
    font-size: 3em;
    font-weight: 900;
    margin-right: 0.2em;
}
.imagemLegenda{
    font-size: 1.5em;
}

.vejaMaisNoInstagram{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d1e20;
    margin-bottom: 2em;
}
.vejaMaisNoInstagram p{
    font-size: 2em;
}
.perfilInstagram{
    color: #00D2F0;
}
.perfilInstagram:hover{
    opacity: 0.6;
}

.invisivel{
    display: none;
}

/* para telas grandes */
@media(min-width: 1900px){
    .grid{
        max-width: 50%;
        height: 600px;
    }
    .cardDev p{
        font-size: 2.5em;
    }
    .cardCamera p{
        font-size: 2.5em;
    }
    header {
        padding: 2.5em 5em 2.5em 5em;
        margin-bottom: 5em;
    }
    header > i {
        font-size: 10em !important;
    }
    header p {
        font-size: 1.8em;
    }
    .gridImagens img {
        height: 410px;
    }
    .headerFotografia {
        margin-bottom: 3em;
    }
}